# Python byte-code
__pycache__/
*.py[co]

# virutalenv directories
/env*/
/venv*/
/.venv*/

# Vim IDE
*~
*.swp
*.swo

 # IntelliJ IDEA
.idea/

# coverage files
.coverage

# setup sdist, test and upload directories
/.tox/
/build/
/dist/
/diskcache.egg-info/
/eggs/
/.eggs/
/tmp/

.DS_Store
