Django==1.9.1
appnope==0.1.0
astroid==1.4.4
colorama==0.3.6
coverage==4.0.3
decorator==4.0.6
funcsigs==0.4
gnureadline==6.3.3
ipython==4.1.0
ipython-genutils==0.1.0
lazy-object-proxy==1.2.1
mock==1.3.0
nose==1.3.7
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.6
pluggy==0.3.1
ptyprocess==0.5.1
py==1.4.31
pylint==1.5.4
simplegeneric==0.8.1
six==1.10.0
tox==2.3.1
traitlets==4.1.0
virtualenv==14.0.1
wrapt==1.10.6
wsgiref==0.1.2
